* {
    
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.modal-wrapper {
    background-color: white;
     width: 90%;
     
     /* max-width: 800px; */
     transition:  .7s;
}


.something {
    position: fixed;
    bottom: 71%;
    left: 5%;
}


.modal-header {
    background-color: #888896;
    padding: 3px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
    
}



.modal-header  span {
    position: fixed;
    top: 8%;
    right: 4%;
    cursor: pointer;
    color: red;
}

.modal-body h4 {
    color: orange;
    font-weight: bold;
}

.modal-content {
    padding: 20px;
    background-color: white;
}



.modal-body p {
    /* background-color: lightgray; */
    padding: 20px;
    font-size: large;
    font-weight: bold;
}


.modal-footer {
    position: relative;
    border: none;
    padding: 30px 12px;
    background-color: #888896;
    
  

}
.close-modal-btn {
    position: absolute;
    bottom: 2px;
    right: 10px;
    background-color: red;
    color: white;
    font-size: large;
    cursor: pointer;
    margin: 8px 0 0 0;
    padding: 5px 26px;
    border: none;
    outline: none;
}

.cancel-modal-btn {
    position: absolute;
    bottom: 2px;
    right: 129px;
    background-color: blue;
    color: white;
    font-size: large;
    cursor: pointer;
    margin: 8px 0 0 0;
    padding: 5px 26px;
    border: none;
    outline: none;
}

.back-drop {
    background-color: rgb(219 221 223 / 56%);
    height: 100%;
    position: fixed;
    transition: 1.3s;
    width: 100%;
}


.btnToOpen {
    background-color: gray;
    color: white;
    padding: 5px 25px;
    margin: 2rem ;
}

.btnToOpen:hover {
    color: blue;
    /* width: 300px;
    transition: 2.9s; */

}