* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.modal-wrapper {
    background-color: white;
     width: 80%;
     max-width: 800px;
     transition:  .7s;
}


.something {
    position: fixed;
    bottom: 71%;
    left: 12%;
}


.modal-header {
    background-color: #5a5a5a;
    padding: 20px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
    text-transform: uppercase;
}



.modal-header  span {
    position: fixed;
    top: 8%;
    right: 4%;
    cursor: pointer;
    color: red;
}

.modal-body h4 {
    color: orange;
    font-weight: bold;
}

.modal-content {
    padding: 20px;
}



.modal-body p {
    background-color: lightgray;
    padding: 3px 0 2px 4px;
}


.modal-footer {
    border: none;
    
  

}
.close-modal-btn {
    background-color: orange;
    color: white;
    padding: 5px 26px;
    border: none;
    outline: none;
}

.btnToOpen {
    background-color: gray;
    color: white;
    padding: 5px 25px;
    margin: 2rem ;
}

.btnToOpen:hover {
    color: blue;
    /* width: 300px;
    transition: 2.9s; */

}